#root {
  width: auto;
  height: auto;
}
@font-face {
  font-family: "OTWelcomeRA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ImcreSoojin";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  font-family: "OTWelcomeRA";
}

ul,
li {
  margin-top: 18px;
  list-style: none;
}
/*------------------------ Header ------------------------*/

Header {
  position: fixed;
  display: flex;
  width: 52.5vw;
  height: 60px;
  padding-left: 47.5vw;
  /* padding-right: 100px; */
  background-color: #f1bba4;

  z-index: 2;
}

header > * {
  /* flex-grow: 1; */
}

Header > *:nth-child(1) {
  flex-grow: 1;
}
Header > *:nth-child(2) {
  flex-grow: 1;
}

Header > div {
  display: flex;
  align-items: center;
}

Header > div > h1 {
  font-family: "Ruda", sans-serif;
  font-weight: 600;
  font-size: 37px;
}

header nav {
  margin-right: 6%;
}

Header ul {
  padding: 0;
  /* margin-top: 12px; */
  /* margin-bottom: auto; */
  display: flex;
  justify-content: space-evenly;
  height: auto;
  /* font-weight: bolder; */
}

Header ul h3 {
  padding-top: 5px;
  font-size: 15px;
}

h2 {
  font-family: "ImcreSoojin";
}

/*------------------------ suport-Header ------------------------*/
@font-face {
  font-family: "twayair";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
#supHeader {
  left: 50%;
  transform: translate(-50%, 0);
  width: 65%;
  height: 50px;
  background-color: #ffffff;
  opacity: 86%;
  border-bottom: #d44f32 1px solid;
  padding-top: 60px;
  position: fixed;
  display: flex;
  justify-content: flex-end;
}
#supHeader ul {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}
select {
  font-family: "twayair";
  border: none;
  outline: none;
}
select option {
  background-color: #fdf4f4;
  font-size: 1.1em;
}
/*------------------------ Login ------------------------*/
.background_layer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10;
}

.gray {
  background-color: rgba(0, 0, 0, 0.5);
}
.white {
  background-color: white;
}

#login_layer {
  position: relative;
  width: 600px;
  height: 620px;
  background: #fff;
  border-radius: 30px;
  z-index: 1;
}

#login_layer input {
  display: block;
  margin: 20px auto;
  width: 240px;
  height: 40px;
  border: none;
  border-radius: 11px;
  box-shadow: 0px 4px 15px #9e9e9e;
  padding-left: 5px;
  outline: none;
}

#login_layer button {
  display: block;
  margin: 30px auto;
  background-color: #ffe0e0;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  border: none;
}

#login_layer span {
  display: flex;
  margin-left: 39%;
  margin-top: 70px;
}

#login_layer h3 {
  color: #e9af96;
  font-size: 14px;
}
#login_layer h4 {
  color: #919191;
  font-size: 14px;
}

#login_layer img {
  width: 300px;
  margin-top: 40px;
}

#join_layer {
  position: relative;
  width: 50vw;
  height: 50vh;
  text-align: center;
  border: 1px solid #828282;
  border-radius: 20px;
}

textarea {
  resize: none;
  width: 40vw;
  height: 50vh;
}
/*------------------------ Profile ------------------------*/
#profile_background {
  position: absolute;
  width: 302px;
  height: 502px;
  top: 100px;
  right: 0;
  overflow: hidden;
}

#profile {
  position: absolute;
  width: 300px;
  height: 450px;
  border-right: 0;
  border-radius: 10px 0px 0px 10px;
  background-color: #fdf4f4;
  padding-top: 50px;
  border: 1px #bebebe;
}

@keyframes slidein {
  0% {
    right: -300px;
  }
  100% {
    right: 0;
  }
}
@keyframes slideout {
  0% {
    right: 0;
  }
  100% {
    right: -300px;
  }
}

#profile > * {
  display: block;
  margin: 20px auto;
  text-align: center;
}

#profile > .img {
  width: 100px;
  height: 100px;
  background: #ffffff;
  border-radius: 15px;
}

#profile span {
  width: 65%;
  height: 1px;
  /* position: absolute; */
  background-color: #727272;
}

#profile li {
  color: #727272;
  margin: 25px auto;
}

/*------------------------ Upload ------------------------*/
.upload {
  width: 700px;
  margin: 0 auto;
  padding-top: 200px;
}
#component {
  width: 700px;
  height: 280px;
  background-color: white;
  margin-bottom: 100px;
}

#title-component {
  width: 700px;
  height: 180px;
  background-color: white;
  margin-bottom: 100px;
  margin-top: 390px;
  display: flex;
}

h2 {
  font-family: "ImcreSoojin";
  font-size: 24px;
  color: #2e2e2e;
}

p {
  color: gray;
  font-size: 14px;
  margin-top: 10px;
}

#pictureBox {
  width: 630px;
  height: 360px;
  margin-left: 6%;
  margin-top: 20px;
  border: black 1px solid;
  text-align: center;
}

#picture {
  display: none;
}
#nonePicture {
  margin-top: 120px;
}
#preview {
  height: 100%;
}

.tit {
  display: flex;
}

#title {
  width: 570px;
  height: 28px;
  margin-left: 4%;
  border: none;
  border-bottom: black 1px solid;
  outline: none;
  font-size: 2vh;
}

#description {
  width: 690px;
  height: 250px;
  font-size: 24px;
  border-radius: 15px;
  margin-top: 10px;
  outline: none;
  padding: 10px 10px 10px 10px;
  border: none;
}

textarea::-webkit-input-placeholder {
  font-size: 26px;
  font-style: italic;
}

#price {
  border: none;
  border-bottom: black 1px solid;
  height: 40px;
  width: 200px;
  outline: none;
  text-align: right;
  padding-right: 10px;
  margin-left: 4%;
  font-size: 30px;
}

.price {
  display: flex;
  margin-top: 230px;
}

#won {
  margin-left: 6px;
}

#uploadBtn {
  width: 180px;
  height: 40px;
  border: none;
  border-radius: 16px;
  background-color: #ffe0e0;
  margin-left: 80%;
  font-size: 13px;
  margin-bottom: 300px;
  transition: 0.3s;
  font-family: "twayair";
}

#uploadBtn:hover {
  box-shadow: 5px 5px 5px #e4c5c5;
  transition: 0.4s;
}
#uploadBtn:active {
  width: 177px;
  background-color: #e9cbcb;
}
/*------------------------ Footer ------------------------*/
#footer {
  background-image: url(../public/footer.png);
  width: 100%;
  height: 100px;
  text-align: center;
}

#footer-text {
  color: #000000;
  padding-top: 30px;
}
/*------------------------ Post ------------------------*/
.post {
  padding-top: 260px;
  width: 100%;
}

.poster {
  width: 620px;
  height: 620px;
  margin-left: auto;
  margin-right: auto;
}

#post-profile {
  display: flex;
}

#profile-picture {
  width: 70px;
  height: 70px;
  border: black 1px solid;
  border-radius: 15px;
  margin-right: 14px;
}

#name {
  font-size: 20px;
  color: black;
  padding-top: 8px;
}

#time {
  margin-top: 4px;
  font-size: 15px;
}

#post-picture {
  width: 500px;
  height: 500px;
  border: black 1px solid;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.post-text {
  width: 620px;
  height: 340px;
  border-top: #949494 1px solid;
  border-bottom: #949494 1px solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

#post-title {
  font-family: "Pretendard-Regular";
  font-size: 2em;
  padding-left: 50px;
  padding-top: 60px;
}
#post-tag {
  padding-left: 50px;
  margin-bottom: 20px;
}
#post-description {
  padding-left: 50px;
  font-size: 1em;
  color: #000000;
}
#post-price {
  padding-left: 50px;
  font-size: 3em;
  color: #000000;
}
#priceJjim {
  margin-top: 60px;
  display: flex;
  height: 50px;
  width: 620px;
}
#jjim {
  margin-left: 310px;
  width: 60px;
  height: 40px;
  padding-top: 10px;
}
.comments {
  width: 620px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 200px;
}
#comment-input {
  width: 400px;
  height: 40px;
  border-radius: 20px 0 0 20px;
  border: #727272 0.5px solid;
  outline: none;
  font-size: 1.4em;
  padding: 5px 5px 0 10px;
  margin-left: 13%;
  border-right: none;
}
#pen {
  width: 46px;
  height: 47px;
  position: absolute;
  border-radius: 0 20px 20px 0;
  border: #727272 0.5px solid;
  padding-top: 4px;
  padding-right: 12px;
  border-left: none;
  background-color: white;
}
#comment {
  width: 600px;
  height: 100px;
  border-radius: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: flex;
  box-shadow: rgb(131, 131, 131) 0 5px 20px;
}
#comment-profile {
  width: 60px;
  height: 60px;
  border: black 1px solid;
  border-radius: 1vh;
  margin-top: 20px;
  margin-left: 30px;
}
#profile-name {
  font-size: 18px;
  color: #000000;
  margin-top: 26px;
  margin-left: 10px;
}
#profile-time {
  margin-top: 35px;
  margin-left: 5px;
}
#comment-text {
  color: #000000;
  position: absolute;
  margin-top: 56px;
  margin-left: 110px;
}
#bin {
  width: 30px;
  height: 30px;
}
#comment-btn {
  width: 45px;
  height: 45px;
  margin-top: 30px;
  margin-left: 300px;
  outline: none;
  border: none;
  background-color: white;
}
#adopt {
  width: 30px;
  height: 38px;
}
