#root {
  width: auto;
  height: auto;
}
@font-face {
  font-family: "OTWelcomeRA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  font-family: "OTWelcomeRA";
}

ul,
li {
  margin-top: 18px;
  list-style: none;
}
/*------------------------ Header ------------------------*/

Header {
  position: fixed;
  display: flex;
  width: 52.5vw;
  height: 60px;
  padding-left: 47.5vw;
  /* padding-right: 100px; */
  background-color: #f1bba4;

  z-index: 2;
}

header > * {
  /* flex-grow: 1; */
}

Header > *:nth-child(1) {
  flex-grow: 1;
}
Header > *:nth-child(2) {
  flex-grow: 1;
}

Header > div {
  display: flex;
  align-items: center;
}

Header > div > h1 {
  font-family: "Ruda", sans-serif;
  font-weight: 600;
  font-size: 37px;
}

header nav {
  margin-right: 6%;
}

Header ul {
  padding: 0;
  /* margin-top: 12px; */
  /* margin-bottom: auto; */
  display: flex;
  justify-content: space-evenly;
  height: auto;
  /* font-weight: bolder; */
}

Header ul h3 {
  margin-bottom: 0;
}

/*------------------------ Footer ------------------------*/
footer {
  position: fixed;
  bottom: -4px;
  height: 86.92px;
  z-index: 1;
}

footer img {
  width: 100vw;
  height: 100%;
}

/*------------------------ Profile ------------------------*/
#profile_background {
  position: absolute;
  width: 302px;
  height: 502px;
  top: 100px;
  right: 0;
  overflow: hidden;
}

#profile {
  position: absolute;
  width: 300px;
  height: 450px;
  border: 1px solid #000000;
  border-right: 0;
  border-radius: 10px 0px 0px 10px;
  padding-top: 50px;
}

@keyframes slidein {
  0% {
    right: -300px;
  }
  100% {
    right: 0;
  }
}
@keyframes slideout {
  0% {
    right: 0;
  }
  100% {
    right: -300px;
  }
}

#profile > * {
  display: block;
  margin: 20px auto;
  text-align: center;
}

#profile > .img {
  width: 100px;
  height: 100px;
  background: #ffe0e0;
  border-radius: 15px;
}

#profile span {
  width: 65%;
  height: 1px;
  /* position: absolute; */
  background-color: #000000;
}

#profile li {
  color: #727272;
  margin: 25px auto;
}

/*------------------------ Upload ------------------------*/
.upload {
  width: 700px;
  margin: 0 auto;
  padding-top: 200px;
}
#component {
  width: 700px;
  height: 280px;
  background-color: white;
  margin-bottom: 100px;
}

#title-component {
  width: 700px;
  height: 180px;
  background-color: white;
  margin-bottom: 100px;
  margin-top: 390px;
  display: flex;
}

h2 {
  font-size: 28px;
}

p {
  color: gray;
  font-size: 14px;
  margin-top: 10px;
}

#pictureBox {
  width: 630px;
  height: 400px;
  margin-left: 6%;
  margin-top: 20px;
  border: black 1px solid;
  border-radius: 15px;
  text-align: center;
}

#picture {
  display: none;
}
#nonePicture {
  margin-top: 120px;
}
.tit {
  display: flex;
}

#title {
  width: 570px;
  height: 28px;
  margin-left: 4%;
  border: none;
  border-bottom: black 1px solid;
  outline: none;
  font-size: 2vh;
}

#explain {
  width: 620px;
  height: 200px;
  margin-left: 7%;
  font-size: large;
  border-radius: 15px;
  margin-top: 10px;
  outline: none;
  padding: 10px 10px 10px 10px;
}

#price {
  border: none;
  border-bottom: black 1px solid;
  height: 40px;
  width: 200px;
  outline: none;
  text-align: right;
  padding-right: 10px;
  margin-left: 4%;
  font-size: 30px;
}

.price {
  display: flex;
  margin-top: 230px;
}

#won {
  margin-top: 6px;
  margin-left: 6px;
}

#uploadBtn {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 16px;
  background-color: #ffe0e0;
  margin-left: 80%;
  font-size: 15px;
  padding-top: 8px;
  margin-bottom: 300px;
  transition: 0.3s;
}

#uploadBtn:hover {
  box-shadow: 5px 5px 5px #e4c5c5;
  transition: 0.4s;
}

#preview {
  height: 100%;
}
